html, body {
  height: 100%;
  color: #fff;
  background-color: #000;
}

#console{
	color: #fff;
	background-color: #000;
	/* */ 
	position: absolute;
	height: 100%;
	width: 100%;

	overflow: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	overflow-y: scroll;
}

#olay{
	position: absolute;
	z-index: 999;
	top: 0px;
	right: 20px;
	width: 200px;
	height: 25px;
	background-color: #300;
}